.task-article {
  // .task-article__title

  &__title {
    font-size: toRem(30);
    font-weight: 700;
    margin-bottom: toRem(20);
    letter-spacing: 0;
  }

  // .task-article__block

  &__block {
    background-color: #000;
    padding: toRem(20);
  }

  // .task-article__sub-title

  &__sub-title {
    font-size: toRem(20);
    font-weight: 500;
    margin-bottom: toRem(20);
    letter-spacing: 0;
  }
  table {
    background-color: #ffd900;
    color: #000;
  }
  th,
  td {
    padding: toRem(10);
    border: toRem(2) solid rgb(0, 0, 0);
  }
  td {
    text-align: center;
  }
}

.check {
  background-color: #fff;
  color: #000;
  width: toRem(300);
  padding: toRem(20);
  text-align: center;
  // .check__title

  &__title {
    font-weight: 600;
    margin-bottom: toRem(20);
    font-size: toRem(25);
  }

  // .check__sub-title

  &__sub-title {
    font-size: toRem(18);
    font-weight: 500;
    color: #777777;
  }

  &__bottom-title {
    font-size: toRem(16);
    font-weight: 500;
    margin-bottom: toRem(15);
  }
  &__price {
  }
  // .check__product

  &__product {
    font-size: toRem(16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  &__total {
    font-size: toRem(20);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }
}
