.task {
  letter-spacing: toRem(2);
  // .task__title

  &__title {
    font-size: toRem(30);
    font-weight: 700;
    margin-bottom: toRem(20);
    letter-spacing: 0;
  }

  &__sub-title {
    font-size: toRem(20);
    font-weight: 500;
    margin-bottom: toRem(20);
    letter-spacing: 0;
  }
  // .task__section

  &__section {
    background-color: #000;
    padding: toRem(20);
    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
  }

  // .task__sub-title

  &__sub-title {
  }
  // .task__expression

  &__expression {
    margin-bottom: toRem(15);
    letter-spacing: 0;
  }
}
