@use "sass:math";
@import "_reset.scss";
@import "_fonts.scss";
@import "_functions.scss";
.wrapper {
   overflow: clip;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.wrapper main {
   flex-grow: 1;
}
//* container can changes
[class*="__container"] {
   max-width: toRem(1259);
   margin: 0 auto;
   padding: 0 toRem(15);
}
body {
   color: #ff9900;
}

.page {
   position: relative;
   z-index: 2;
   padding: toRem(50) toRem(70);
   display: flex;
   flex-direction: column;
   gap: toRem(60);
   align-items: flex-start;

   &__background {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
   }

   &__title {
      font-family: Dune Rise;
      font-size: toRem(30);
      font-weight: 700;
   }

   &__titling {
      display: flex;
      flex-direction: column;
      gap: toRem(20);
      align-items: flex-start;
   }

   &__back {
      font-size: toRem(22);
      padding: toRem(10) toRem(15);
      background-color: #fc7a00;
      color: #000;
      border-radius: toRem(2);
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: #ad5400;
         }
      }
   }
}

.tasks {
   display: flex;
   flex-direction: column;
   gap: toRem(60);
   background-color: #ffcc9d;
   color: #000;
   &__block {
      padding: toRem(40);
      border: 1px solid #ff9900;
      display: flex;
      flex-direction: column;
      gap: toRem(10);
   }

   &__title {
      font-size: toRem(30);
      font-weight: 600;
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: toRem(10);
   }

   &__label {
      font-size: toRem(22);
      display: flex;
      gap: toRem(10);
      align-items: center;
   }

   &__input {
      background-color: #0f0e06;
      // height: toRem(40);
      padding: toRem(10) toRem(12);
      color: #ff9900;
      border: 1px solid #ff9900;
   }

   &__actions {
      display: flex;
      gap: toRem(20);
   }

   &__button-action {
      align-self: flex-start;
      background-color: #ff9900;
      color: #000000;
      padding: toRem(10) toRem(20);
      border-radius: toRem(8);
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: #3b2400;
            color: #c5c5c5;
         }
      }
   }
   &__select {
      background-color: #ff9900;
      color: #000000;
      padding: toRem(10) toRem(20);
   }

   &__result {
      font-size: toRem(20);
      font-weight: 500;
   }

   &__table {
      border-collapse: collapse;
      tr,
      td {
         padding: toRem(10);
         border: 1px solid #ff9900;
      }
   }
   &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(15);
   }
   &__area {
      border: 1px solid #fc7a00;
      border-radius: toRem(12);
      padding: toRem(20) toRem(40);
      legend {
         font-size: toRem(25);
         word-wrap: 600px;
      }
   }
}

.product {
   padding: toRem(10);
   border: 1px solid #fc7a00;
   display: flex;
   align-items: center;
   gap: toRem(20);
   justify-content: space-between;
   background-color: #e0af81;
   @media (max-width: toEm(900)) {
      flex-wrap: wrap;
   }

   &__img {
      aspect-ratio: 1 /1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: toRem(50);
   }
   &__name {
      max-width: toRem(200);
   }
   &__manipulate {
      display: flex;
      align-items: center;
      gap: toRem(10);
      span {
         font-size: toRem(25);
         font-weight: 600;
      }
   }
   &__button-manipulate {
      border: 1px solid #000000;

      padding: toRem(10);
      background-color: #ff9900;
      aspect-ratio: 1 /1;
      font-size: toRem(40);
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: toRem(40);
      transition: background-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: #fc7a00;
         }
      }
   }

   &__section-price {
      &__name {
         max-width: toRem(300);
      }
      display: flex;
      align-items: center;
      gap: toRem(10);
      span {
         font-weight: 600;
         font-size: toRem(25);
      }
   }
   &__delete {
      padding: toRem(10);
      background-color: #ff9900;
      aspect-ratio: 1 /1;
      font-size: toRem(20);
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: toRem(40);
      transition: background-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: #fc7a00;
         }
      }
   }
}

.item {
   display: flex;
   flex-direction: column;
   gap: toRem(20);
   &__title {
      font-size: toRem(30);
      font-weight: 600;
      text-align: center;
   }

   &__products {
      display: flex;
      flex-direction: column;
      gap: toRem(15);
   }

   &__total-sum-section {
      font-size: toRem(25);
      font-weight: 600;
      text-align: center;

      span {
         font-size: toRem(35);
      }
   }
}
#startGame {
   padding: toRem(10) toRem(20);
   font-size: toRem(20);
   color: #000;
   width: 100%;
   // max-width: toRem(40);
   background-color: #e0af81;
   transition: background-color 0.3s;
   @media (any-hover: hover) {
      &:hover {
         background-color: #fc7a00;
      }
   }
}
.field {
   position: relative;
   width: 640px;
   height: 640px;
   background-color: #ad5400;
   background: url(../img/field.JPG) 0 0 / cover no-repeat;

   &__tank {
   }
}
